// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
@import 'colors';
@import 'size';
@import 'properties';

@font-family: Poppins, Arial, sans-serif;
@font-size-base: 14px;

@typography-title-margin-bottom: 0.5rem;

@border-radius-base: 4px;

@layout-body-background: @grey-color;
@layout-header-background: @white-color;
@layout-sider-background-light: @accent-color;
@menu-dark-bg: @accent-color;
@menu-dark-inline-submenu-bg: @accent-color;
@menu-dark-color: @white-color;
@menu-dark-item-active-bg: @accent-tint-4;

@avatar-size-base: 26px;
@avatar-font-size-base: 14px;
@avatar-font-size-sm: 14px;

@table-header-bg: @dark-grey-color-1;
@table-header-color: @white-color;
@table-font-size: 14px;
@table-padding-vertical-sm: 12px;
@table-padding-horizontal-sm: 12px;

@breadcrumb-font-size: 12px;
@breadcrumb-icon-font-size: 12px;
