<div main-section>
  <div class="container mx-auto">
    <nz-carousel carousel class="hidden md:block">
      <div carousel nz-carousel-content>
        <div carousel main-container>
          <div main-picture-container>
            <div>
              <div main-title main-tagline>The smartest way<br />to communicate</div>
              <div main-description>A Single Cloud For Your Digital Filing, Transactional Email & Email Marketing</div>
              <a [href]="getRegisterUrl()" main-button nz-button nzType="primary" nzSize="large" nzShape="round">Sign
                Up</a>
            </div>
          </div>
        </div>
      </div>
    </nz-carousel>

    <div main-container class="wrap md:hidden">
      <div section>
        <div>
          <div main-title main-tagline>The smartest way to communicate</div>
          <div main-description>A Single Cloud For Your Digital Filing, Transactional Email & Email Marketing</div>
          <a [href]="getRegisterUrl()" main-button nz-button nzType="primary" nzSize="large" nzShape="round">Sign
            Up</a>
          <img src="/assets/main-pix.png" alt="grabbill picture" />
        </div>
      </div>
    </div>
  </div>
</div>
<div section solutions-section>
  <div class="container mx-auto text-center">
    <div solutions-container>
      <div section-tagline>All your digital tools in one place</div>
      <div section-description>Be where your customers are and manage all your digital communications in one place at
        ease
      </div>

      <div solutions-cards-container>
        <div solutions-card df-card>
          <div solutions-inner-container>
            <div solution-inner-background></div>
            <div solution-image></div>
          </div>
          <div solutions-text-container>
            <div solution-title>DIGITAL<br />FILING</div>
            <div solution-description>Archiving important documents on the cloud for peace of mind. myBillOne could be
              the option.
            </div>
            <div solution-buttons class="hidden md:flex">
              <a free-plan-button [href]="getRegisterUrl()" nz-button nzType="primary" nzSize="large" nzShape="round">Start a Free
                Plan</a>
              <a learn-more-button nz-button nzType="text" nzSize="large" routerLink="/digital-filing">Learn More</a>
            </div>
            <div solution-buttons class="flex md:hidden">
              <a free-plan-button [href]="getRegisterUrl()" nz-button nzType="primary" nzShape="round">Start a Free
                Plan</a>
              <a learn-more-button nz-button nzType="text" routerLink="/digital-filing">Learn More</a>
            </div>
          </div>
        </div>

        <div solutions-card tx-card>
          <div solutions-inner-container>
            <div solution-inner-background></div>
            <div solution-image></div>
          </div>
          <div solutions-text-container>
            <div solution-title>TRANSACTIONAL<br />EMAIL</div>
            <div solution-description>Personalise your digital delivery and attachment with just the click of a few
              buttons.
            </div>
            <div solution-buttons class="hidden md:flex">
              <a free-plan-button [href]="getRegisterUrl()" nz-button nzType="primary" nzSize="large" nzShape="round">Start a Free
                Plan</a>
              <a learn-more-button nz-button nzType="text" nzSize="large" routerLink="/transactional-email">Learn
                More</a>
            </div>
            <div solution-buttons class="flex md:hidden">
              <a free-plan-button [href]="getRegisterUrl()" nz-button nzType="primary" nzShape="round">Start a Free Plan</a>
              <a learn-more-button nz-button nzType="text" routerLink="/transactional-email">Learn More</a>
            </div>
          </div>
        </div>

        <div solutions-card em-card>
          <div solutions-inner-container>
            <div solution-inner-background></div>
            <div solution-image></div>
          </div>
          <div solutions-text-container>
            <div solution-title>EMAIL<br />MARKETING</div>
            <div solution-description>Promote your brand and grow your business with designed emails.<br /><br /></div>
            <div solution-buttons class="hidden md:flex">
              <a free-plan-button [href]="getRegisterUrl()" nz-button nzType="primary" nzSize="large" nzShape="round">Start a Free
                Plan</a>
              <a learn-more-button nz-button nzType="text" nzSize="large" routerLink="/email-marketing">Learn More</a>
            </div>
            <div solution-buttons class="flex md:hidden">
              <a free-plan-button [href]="getRegisterUrl()" nz-button nzType="primary" nzShape="round">Start a Free
                Plan</a>
              <a learn-more-button nz-button nzType="text" routerLink="/email-marketing">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div section why-section>
  <div class="container mx-auto text-center">
    <div why-container>
      <div section-tagline>Why Choose myBillOne?</div>
      <div section-description class="hidden lg:block">
        Our end-to-end solutions are customised to fit businesses with different needs.<br />
        We understand how important it is for you to provide your consumers with<br />
        an incredible experience, and we will customise a solution for you to
        do just that.
      </div>
      <div section-description class="lg:hidden">
        Our end-to-end solutions are customised to fit businesses with different needs.
        We understand how important it is for you to provide your consumers with
        an incredible experience, and we will customise a solution for you to
        do just that.
      </div>
      <div why-items-container class="flex">
        <div why-item-container>
          <div why-icon-container>
            <div why-icon icon-1></div>
          </div>
          <div why-title>Accessible Innovation</div>
        </div>
        <div why-item-container>
          <div why-icon-container>
            <div why-icon icon-2></div>
          </div>
          <div why-title>The Customer Is Priority</div>
        </div>
        <div why-item-container>
          <div why-icon-container>
            <div why-icon icon-3></div>
          </div>
          <div why-title>Scalable Business</div>
        </div>
        <div why-item-container>
          <div why-icon-container>
            <div why-icon icon-4></div>
          </div>
          <div why-title>User Friendly Design</div>
        </div>
        <div why-item-container>
          <div why-icon-container>
            <div why-icon icon-5></div>
          </div>
          <div why-title>Industry Expertise</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div section action-section>
  <div class="container mx-auto text-center">
    <div section-tagline>Ready to get started?</div>
    <div action-description>Try myBillOne for Free. <br class="md:hidden" /> No credit card required.</div>
    <a [href]="getRegisterUrl()" action-sign-up-button nz-button nzType="primary" nzSize="large" nzShape="round">Sign Up
      Now</a>
  </div>
</div>

