<div main-section>
  <div about-us-container class="container mx-auto z-5">
    <div about-us-box>
    </div>
    <div about-us-inner-container>
      <div class="text-center">
        <div main-title>About Us</div>
        <div about-us-underline>&nbsp;</div>
      </div>
    </div>
  </div>
</div>
<div section>
  <div class="container mx-auto">
    <article>
      <div content>
        <p>In myBillOne, we simplying people live through technology. Our goal is to develop services that improve the
          lives of people; not just for few, but for everyone. myBillOne is a cloud-based filling, email and automation
          solution squarely aimed at small to midsize businesses (SMBs) and customization for enterprise. It has a suite
          of robust services within a single interface that help you operate and talk to your clients, customers, and
          other interested parties. myBillOne enables the user to manage all of his documents in one place. We provide
          fast
          and secure services in real time to individual users. It connects users to their desired documents seamlessly
          with the utmost convenience.</p>

        <div paragraph-title>Our Mission</div>
        <p>Creating a safer, simpler and more ecosystem that empower organization to do small with less.</p>

        <div paragraph-title>Our Vision</div>
        <p>To be the most widely adopted outbound delivery in Asia Pacific, bridging customers and business together.
        </p>
      </div>
    </article>
  </div>
</div>
