<div container class="mx-auto" *ngIf="jobSearchResult$ | async as searchResult">
  <div class="pb-8">
    <grabbill-client-page-header
      title="Jobs"
      description="You have {{ searchResult.totalItems | number }} jobs."
    ></grabbill-client-page-header>
  </div>

  <div *ngIf="jobPageable$ | async as pageable">
    <div class="flex">
      <div class="flex-grow" empty-box>
      </div>
      <div [formGroup]="form">
        <nz-range-picker formControlName="range" (ngModelChange)="doDateRange($event)"> </nz-range-picker>
      </div>
    </div>
    <div job-toolbar class="flex items-center p-2">
      <div class="flex-grow">
        <nz-tag
          *ngFor="let tag of getFilters(); let i = index"
          nzMode="closeable"
          (nzOnClose)="doRemoveFilter(tag[0])"
        >
          {{ getFilterLabel(tag[0]) }} = {{ tag[1] }}
        </nz-tag>
      </div>
      <div>
        <button nz-button (click)="doOpenFilterModal()"  nzType="link"><i nz-icon nzType="filter"></i>Add Filter</button>
      </div>
    </div>
    <nz-table
      nzBordered
      [nzLoading]="isTableLoading"
      [nzData]="searchResult.items"
      [nzFrontPagination]="false"
      [nzTotal]="searchResult.totalItems"
      [nzPageSize]="pageable.size"
      [nzPageIndex]="pageable.page"
      (nzQueryParams)="doQuery($event)"
      nzSize="small"
      nzTableLayout="fixed"
    >
      <thead>
      <tr>
        <th>Date</th>
        <th>Domain</th>
        <th>Type</th>
        <th>Activity</th>
        <th nzWidth="100px">Event Type</th>
        <th nzWidth="100px">Status</th>
        <th nzWidth="100px">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of searchResult.items; let i = index">
        <td>{{ data.createdTimestamp | date: "medium" }}</td>
        <td><nz-tag>{{data.domainType}}</nz-tag></td>
        <td>{{ data.typeName }}</td>
        <td>{{ data.activityName }}</td>
        <td>{{ data.eventType }} <i nz-tooltip [nzTooltipTitle]="data.scheduledExecutionTimestamp | date : dateTimeFormat" *ngIf="data.executionMode === 'SCHEDULED'" nz-icon nzType="field-time"></i></td>
        <td><nz-tag [nzColor]="getStatusTag(data)">{{data.status}}</nz-tag></td>
        <td>
          <div><a *ngIf="data.status === 'FAILED'" (click)="doRetry(data)"><i nz-icon nzType="redo" class="mr-2"></i>Retry</a></div>
          <div><a [routerLink]="['/','account', 'jobs', data.id]"><i nz-icon nzType="container" class="mr-2"></i>View</a></div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>

  <nz-modal [nzVisible]="isFilterModalVisible" nzTitle="Add Filter" (nzOnCancel)="doCloseFilterModal()">
    <div *nzModalContent>
      <div>
        <form nz-form [formGroup]="filterForm">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Field</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-select
                formControlName="field"
                (ngModelChange)="doFilterFieldChange($event)"
              >
                <ng-container *ngFor="let field of filterOptions; let i = index">
                  <nz-option [nzValue]="field.key" [nzLabel]="field.label"></nz-option>
                </ng-container>
              </nz-select>
              <input type="hidden" formControlName="type"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="filterForm.get('type')!.value === 'TEXT'">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Value</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input formControlName="value"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngIf="filterForm.get('type')!.value === 'OPTION'">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Value</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-select formControlName="value">
                <ng-container *ngFor="let option of options; let i = index">
                  <nz-option [nzValue]="option" [nzLabel]="option"></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="primary" (click)="doAddFilter()">Add</button>
    </div>
  </nz-modal>
</div>
