<div container class="mx-auto">
  <grabbill-client-breadcrumb
    rootTitle="Email Campaign"
    [rootLink]="['/', 'email-campaign', 'list']"
  ></grabbill-client-breadcrumb>

  <ng-template #elseType>
    <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
  </ng-template>

  <ng-container *ngIf="emailCampaignType$ | async as emailCampaignType; else elseType">
    <div class="mb-8">
      <grabbill-client-page-header
        [title]="emailCampaignType.name"
        [subtitle]="getCode(emailCampaignType)"
        [button]="{
          label: 'Create Email Campaign Activity',
          privilege: privilege.EMAIL_CAMPAIGN_ACTIVITY_EDIT
        }"
        (buttonClick)="doCreateEmailCampaignActivity(emailCampaignType, emailCampaignType.name)"
      >
      </grabbill-client-page-header>
    </div>

    <grabbill-client-email-stat
      [emailTotal]="emailCampaignType.emailTotal"
      [emailSent]="emailCampaignType.emailStatusSent"
      [emailOpened]="emailCampaignType.emailStatusOpened"
      [emailBounced]="emailCampaignType.emailStatusBounced"
      [emailUnsubscribed]="emailCampaignType.emailStatusUnsubscribed"
      [emailSkip]="emailCampaignType.emailStatusUnsubscribedSkip + emailCampaignType.emailStatusBouncedSkip"
    >
    </grabbill-client-email-stat>

    <nz-tabset nzSize="large" nzLinkRouter>
      <nz-tab>
        <a
          *nzTabLink
          nz-tab-link
          [routerLink]="['.']"
          [queryParams]="{ tab: 'activities' }"
          queryParamsHandling="merge"
        >
          Activities
        </a>

        <grabbill-client-list
          [store]="store"
          [actions$]="actions$"
          [pageable$]="emailCampaignActivityPageable$"
          [result$]="emailCampaignActivitySearchResult$"
          [isListLoading]="isActivityListLoading"
          [queryAction]="listQueryAction"
          [queryActionParams]="[typeId]"
          [loadMoreAction]="listLoadMoreAction"
          [pageableState]="listState.emailCampaignActivityPageable"
          [typeNameState]="listState.activityName"
          [subtitleTemplate]="subtitleTemplate"
          [contentTemplate]="contentTemplate"
          [statusTemplate]="statusTemplate"
          [actionsTemplate]="actionsTemplate"
          [hasSort]="false"
          (selectItem)="doViewActivity($event)"
          icon="file-pdf"
          searchText="Find by activity name"
          noRecordText="No activities found."
        >
          <ng-template #subtitleTemplate let-item>
            <div list-description>{{ getActivityStatusText(item) }}</div>
            <div list-description *ngIf="item.purgedTimestamp">Purged at {{ item.purgedTimestamp | date: dateFormat }}</div>
          </ng-template>
          <ng-template #contentTemplate let-item>
            <div class="flex-grow"></div>
          </ng-template>
          <ng-template #statusTemplate let-item>
            <div class="w-1/5">
              <nz-tag [nzColor]="getStatusTag(item)">{{ item.status }}</nz-tag>
            </div>
          </ng-template>
          <ng-template #actionsTemplate let-item>
            <ul nz-list-item-actions actions-width>
              <nz-list-item-action
                *ngIf="item.status === 'DRAFT' && hasPrivilege(privilege.EMAIL_CAMPAIGN_EDIT)">
                <a list-title (click)="doEditActivity(emailCampaignType.id, item.id)">
                  <i nz-tooltip="Edit" nz-icon nzType="edit"></i>
                </a>
              </nz-list-item-action>
              <nz-list-item-action
                *ngIf="item.status === 'DRAFT' && hasPrivilege(privilege.EMAIL_CAMPAIGN_EDIT)">
                <a list-title (click)="doDeleteActivity(emailCampaignType.id, item)"
                ><i nz-tooltip="Delete" nz-icon nzType="delete"></i></a
                >
              </nz-list-item-action>
            </ul>
          </ng-template>
        </grabbill-client-list>
      </nz-tab>

      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'settings' }" queryParamsHandling="merge">
          Template Settings
        </a>

        <div class="text-right mb-4" *ngIf="hasPrivilege(privilege.EMAIL_CAMPAIGN_EDIT)">
          <button nz-button (click)="doEdit(emailCampaignType.id)">Edit</button>
        </div>

        <nz-card>
          <grabbill-client-descriptions
            title="Email Settings"
            [items]="[
              { span: 2, title: 'Contact Group', value: emailCampaignType.contactGroupName ?? 'All contacts', type: 'string' },
              { span: 2, title: 'From', value: emailCampaignType.emailFrom, type: 'string' },
              { span: 2, title: 'From Name', value: emailCampaignType.emailFromName, type: 'string' },
              { span: 4, title: 'Subject', value: emailCampaignType.emailSubject, type: 'string' },
              { span: 4, title: 'Template', value: emailCampaignType.emailContent, type: 'html' }
            ]"
          >
          </grabbill-client-descriptions>
        </nz-card>
      </nz-tab>
    </nz-tabset>
  </ng-container>
</div>
