@import '../../../styles/variables';

[main-section] {
  position: relative;
  background-color: @transactional-email-bg-color;

  [main-solution-background-image] {
    background-image: url("/assets/solution-trx-email-effect.png");
  }

  [main-solution-tagline] {
    color: @accent-color;
  }
}
