<div main-section main-solution-section>
  <div main-solution-background-image class="hidden md:block"></div>
  <div class="container mx-auto z-5 h-full">
    <div main-solution-container>
      <div main-solution-tagline main-title>Transactional Email</div>
      <div main-solution-description main-description>Personalise your digital delivery and attachment with just the click of a few
        buttons.
      </div>
      <a [href]="getRegisterUrl()" main-button class="solution-button" nz-button nzType="primary" nzSize="large" nzShape="round">Pick a plan</a>
    </div>
  </div>
  <div section class="md:hidden">
    <div class="container mx-auto z-5 h-full">
      <div main-solution-tagline main-title>Transactional Email</div>
      <div main-solution-description main-description>Personalise your digital delivery and attachment with just the click of a few
        buttons.
      </div>
      <a [href]="getRegisterUrl()" main-button class="solution-button" nz-button nzType="primary" nzSize="large"
         nzShape="round">Pick a plan</a>
      <div vertical-solution-image>
        <img src="/assets/solution-trx-email-pix.png" alt="Transactional Email" />
      </div>
    </div>
  </div>
</div>
<div section>
  <div class="container mx-auto">
    <div section-title>
      Outbound email attachment delivery & security
    </div>
    <article>
      <p>Transactional emails allow you to provide information that is uniquely relevant to the recipient. These emails
        can provide you with a requested attachment which are password protected.</p>
      <p>Transactional emails generally use an API or SMTP integration to send emails. This usually requires a developer
        to set up a system that will send coded templates to specific recipients based on a specific action.</p>
      <p>
        <strong>myBillOne</strong> allows an organization to create transactional email templates which can then be sent
        to most a list of your contact safely and securely.
      </p>
      <p>
        <strong>myBillOne</strong> brings you a unique cloud based digital delivery and archiving platform that enables
        your business to better connect with an individual organization’s customer using its unique personalization
        feature.
      </p>
      <p><strong>Seamless</strong> delivery of bills, statements, marketing promos.</p>
    </article>
  </div>
</div>
