<div pricing-wrapper>
  <div pricing-container [formGroup]="form">
    <div class="container mx-auto z-5 text-center">
      <div>
        <div pricing-title main-title>Plan Selection</div>
        <div pricing-description main-description>
          Select your plan here. We've got deals of every kind for every scale of business
        </div>
        <div pricing-switch-container>
          <div pricing-switch>
            <button
              nzSize="large"
              nz-button
              [nzShape]="form.get('mode')!.value === subscriptionMode.MONTHLY ? 'round' : null"
              [nzType]="form.get('mode')!.value === subscriptionMode.MONTHLY ? 'primary' : 'text'"
              (click)="updatePlansPrice(subscriptionMode.MONTHLY)"
            >
              Monthly
            </button>
            <button
              nzSize="large"
              nz-button
              [nzShape]="form.get('mode')!.value === subscriptionMode.ANNUALLY ? 'round' : null"
              [nzType]="form.get('mode')!.value === subscriptionMode.ANNUALLY ? 'primary' : 'text'"
              nzType="text"
              (click)="updatePlansPrice(subscriptionMode.ANNUALLY)"
            >
              Annually
            </button>
          </div>
        </div>

        <div pricing-cards-container formArrayName="plans" class="flex flex-col lg:flex-row gap-x-4">
          <div *ngFor="let plan of plans; let i = index" pricing-card class="flex-1 border" [formGroupName]="i">
            <div plan-name class="plan{{ i }}">{{ plan.name }}</div>

            <div>
              <div plan-price class="flex items-end justify-center pb-2">
                <span>RM {{ formPlans.at(i).get("totalPrice")!.value | number: "1.0" }}</span>
              </div>

              <div option>
                <div *ngIf="plan.storageOptions.length > 0">
                  <div option-label>Storage Size</div>
                  <nz-select
                    option-select
                    nzSize="large"
                    formControlName="storageOption"
                    (ngModelChange)="updatePlanPrice(formPlans.at(i))"
                  >
                    <nz-option
                      *ngFor="let option of plan.storageOptions"
                      [nzValue]="option"
                      [nzLabel]="formatBytes(option.size)"
                    ></nz-option>
                  </nz-select>
                </div>
              </div>

              <div option>
                <div *ngIf="plan.transactionalEmailOptions.length > 0">
                  <div option-label>Transaction Email</div>
                  <nz-select
                    option-select
                    nzSize="large"
                    formControlName="transactionalEmailOption"
                    (ngModelChange)="updatePlanPrice(formPlans.at(i))"
                  >
                    <nz-option
                      *ngFor="let option of plan.transactionalEmailOptions"
                      [nzValue]="option"
                      nzLabel="{{ option.size | number }} emails / month"
                    ></nz-option>
                  </nz-select>
                </div>
              </div>

              <div option>
                <div *ngIf="plan.emailCampaignOptions.length > 0">
                  <div option-label>Marketing Email</div>
                  <nz-select
                    option-select
                    nzSize="large"
                    formControlName="emailCampaignOption"
                    (ngModelChange)="updatePlanPrice(formPlans.at(i))"
                  >
                    <nz-option
                      *ngFor="let option of plan.emailCampaignOptions"
                      [nzValue]="option"
                      nzLabel="{{ option.size | number }} emails / month"
                    ></nz-option>
                  </nz-select>
                </div>
              </div>

              <div card-feature-items>
                <div class="flex items-start"><i nz-icon nzType="check"></i> <span class="pl-2">Archiving</span></div>
                <div class="flex items-start">
                  <i nz-icon nzType="check"></i> <span class="pl-2">Password Protect PDF</span>
                </div>
                <div class="flex items-start">
                  <i nz-icon nzType="check"></i>
                  <span class="pl-2">Max {{ formatBytes(plan.maxAttachmentSize) }} Email Attachment</span>
                </div>
                <div class="flex items-start">
                  <i *ngIf="plan.grabbillLogo; else no" nz-icon nzType="check"></i>
                  <span class="pl-2">myBillOne Branding</span>
                </div>
                <div class="flex items-start">
                  <i *ngIf="plan.customSmtp; else no" nz-icon nzType="check"></i>
                  <span class="pl-2">Custom Mail Server</span>
                </div>
                <div class="flex items-start">
                  <i nz-icon nzType="check"></i> <span class="pl-2">{{ plan.maxUser }} Users</span>
                </div>
                <div class="flex items-start">
                  <i nz-icon nzType="check"></i> <span class="pl-2">First {{ plan.supportDays }} days support</span>
                </div>
                <div class="flex items-start">
                  <i *ngIf="plan.reporting; else no" nz-icon nzType="check"></i> <span class="pl-2">Reporting</span>
                </div>
                <div class="flex items-start">
                  <i *ngIf="plan.reporting; else no" nz-icon nzType="check"></i>
                  <span class="pl-2">Schedule Email</span>
                </div>
                <div class="flex items-start">
                  <i *ngIf="plan.reporting; else no" nz-icon nzType="check"></i> <span class="pl-2">Export Files</span>
                </div>
              </div>

              <div sign-up-button *ngIf="i < (isPaidPlanEnabled() ? 3 : 1)">
                <a
                  nz-button
                  nzSize="large"
                  nzShape="round"
                  [href]="getRegisterUrl()"
                  type="button"
                  nzBlock="true"
                  nzType="primary"
                >
                  Sign Up
                </a>
              </div>
              <div sign-up-button *ngIf="i >= (isPaidPlanEnabled() ? 3 : 1)">
                <ng-container *ngTemplateOutlet="contactUsButton"></ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div pricing-cards-container class="mt-8">
        <div pricing-card>
          <div plan-name>Enterprise</div>
          <div enterprise-plan-description enterprise-text>
            Free, basic, standard, professional package does not suit your need?
          </div>
          <div class="text-center">
            <div class="w-40 m-auto">
              <ng-container *ngTemplateOutlet="contactUsButton"></ng-container>
            </div>
          </div>
        </div>
      </div>

      <ng-template #contactUsButton>
        <button
          nz-button
          nzSize="large"
          nzShape="round"
          type="button"
          nzBlock="true"
          nzType="primary"
          (click)="doEmailSupport()"
        >
          Contact Us
        </button>
      </ng-template>

      <div class="hidden">
        <nz-divider divider></nz-divider>
      </div>

      <div class="hidden">
        <div feature-title>All Features</div>

        <ng-template #no><i nz-icon nzType="close"></i></ng-template>
        <div class="pb-2">
          <nz-table feature-table [nzFrontPagination]="false" [nzData]="[1]">
            <thead>
              <tr>
                <th feature-header>Features</th>
                <th feature-header feature-item *ngFor="let data of plans">{{ data.name }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Archiving</td>
                <td feature-item feature-value *ngFor="let data of plans"><i nz-icon nzType="check"></i></td>
              </tr>
              <tr>
                <td>Password Protect PDF</td>
                <td feature-item feature-value *ngFor="let data of plans"><i nz-icon nzType="check"></i></td>
              </tr>
              <tr>
                <td>Maximum Email Attachment Size</td>
                <td feature-item feature-value *ngFor="let data of plans">{{ formatBytes(data.maxAttachmentSize) }}</td>
              </tr>
              <tr>
                <td>Remove myBillOne Branding</td>
                <td feature-item feature-value *ngFor="let data of plans">
                  <i *ngIf="!data.grabbillLogo; else no" nz-icon nzType="check"></i>
                </td>
              </tr>
              <tr>
                <td>Custom SMTP & IMAP Server</td>
                <td feature-item feature-value *ngFor="let data of plans">
                  <i *ngIf="data.customSmtp; else no" nz-icon nzType="check"></i>
                </td>
              </tr>
              <tr>
                <td>Maximum Users</td>
                <td feature-item feature-value *ngFor="let data of plans">{{ data.maxUser }}</td>
              </tr>
              <tr>
                <td>Email & Chat Support</td>
                <td feature-item feature-value *ngFor="let data of plans">First {{ data.supportDays }} days support</td>
              </tr>
              <tr>
                <td>Reporting</td>
                <td feature-item feature-value *ngFor="let data of plans">
                  <i *ngIf="data.reporting; else no" nz-icon nzType="check"></i>
                </td>
              </tr>
              <tr>
                <td>Schedule Email</td>
                <td feature-item feature-value *ngFor="let data of plans">
                  <i *ngIf="data.scheduleEmail; else no" nz-icon nzType="check"></i>
                </td>
              </tr>
              <tr>
                <td>Export Files</td>
                <td feature-item feature-value *ngFor="let data of plans">
                  <i *ngIf="data.exportFile; else no" nz-icon nzType="check"></i>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
