@import '../../../../styles/variables';

[title] {
  font-size: 36px;
  font-weight: 900;

  @media @media-sm {
    font-size: 40px;
  }
}

[subtitle] {
  font-size: 20px;

  @media @media-sm {
    font-size: 32px;
  }

  font-weight: bold;
}
