<div main-section main-solution-section>
  <div main-solution-background-image class="hidden md:block"></div>
  <div class="container mx-auto z-5 h-full">
    <div main-solution-container>
      <div main-solution-tagline main-title>Digital Filing</div>
      <div main-solution-description main-description>Archiving important documents on the cloud for peace of mind.
        myBillOne could be the
        option.
      </div>
      <a [href]="getRegisterUrl()" main-button class="solution-button" nz-button nzType="primary" nzSize="large"
         nzShape="round">Pick a plan</a>
    </div>
  </div>
  <div section class="md:hidden">
    <div class="container mx-auto z-5 h-full">
      <div main-solution-tagline main-title>Digital Filing</div>
      <div main-solution-description main-description>Archiving important documents on the cloud for peace of mind.
        myBillOne could be the
        option.
      </div>
      <a [href]="getRegisterUrl()" main-button class="solution-button" nz-button nzType="primary" nzSize="large"
         nzShape="round">Pick a plan</a>
      <div vertical-solution-image>
        <img src="/assets/solution-digital-filing-pix.png" alt="Digital Filing" />
      </div>
    </div>
  </div>
</div>
<div section>
  <div content class="container mx-auto">
    <div section-title>
      Object storage for companies of all sizes.<br />
      Store any amount of data.<br />
      Retrieve it as often as you’d like.
    </div>
    <article>
      <ul>
        <li>Every organization must have a proper BCP plan in place to manage all its data thus ensuring a seamless
          delivery as well as having good <strong>Risk & Compliance</strong> Procedures in place to ensure that all data
          is well managed
          and in accordance with global standards and security.
        </li>
        <li>Keeping your paperless office documents only on your computer or local server may run the risk of hard drive
          failure, being destroyed by fire, in times of flood or in a (break-in) burglary hence there is a need in
          ensuring that data can be retrieved on cloud.
        </li>
        <li>Meet myBillOne. The ultimate online digital filling system for any organization. Amazingly easy to use,
          highly secure and affordable.
        </li>
      </ul>
      <p>
        By using <strong>myBillOne</strong> an organization is assured of continued <strong>Digital Security, Data backup
        of its critical data as
        well as ensuring that the required industry Compliance</strong> standards are met. <br />
        <strong>Access</strong> to information can be restricted to individual roles and responsibilities.<br />
        It also offers auditing capabilities, which helps you keep track of who has accessed and edited any document.
      </p>
      <p>
        <strong>Easy Access to All the Files and Information</strong><br />
        Index your files using sources like metadata,the content of the documents and etc…<br />
        Filing structure can be customized, users can prioritize any information access to required information. Files
        can
        be sorted, and easily retrieved from indexes that have been captured.
      </p>
      <p>Hosting <strong>Data in Cloud</strong> document management system enables employees to access the document
        off-site. It eliminates
        the need to carry data physically, and they can efficiently work remotely.
      </p>
      <p><strong>Web-based document management system</strong> is one of the best ways to keep all your business
        confidential information
        hidden and safe.</p>
      <p><strong>Seamless Integration</strong> with existing backend systems making it easily adaptable and friendly</p>
    </article>
  </div>
</div>
