@import '../../../styles/variables';

[main-section] {
  position: relative;
  background-color: @digital-filing-bg-color;

  [main-solution-background-image] {
    background-image: url("/assets/solution-digital-filing-effect.png");
  }

  [main-solution-tagline] {
    color: @primary-color;
  }
}
