@import '../../../styles/variables';

[left-center-container] {
  background-color: #f9f9f9;

  @media @media-lg {
    background-image: url("/assets/login.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 56%;
  }
}
