<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
          font-family: arial;
        }
        page {
          background: white;
          display: block;
          margin: 0 auto;
          margin-bottom: 0.5cm;
        }
        page[size="A4"] {  
          width: 21cm;
          height: 29.7cm; 
        }
        @media print {
          body, page {
            margin: 0;
            /*box-shadow: 0;*/
          }
        }
        table {
            border-collapse: collapse;
        }
        td:empty::after {
          content: "\00a0";
        }
        .full-width {
            width: 100%;
        }
        .ninety-five-width {
            width: 95%;
        }
        .fifty-width {
            width: 50%;
        }
        .twenty-width {
            width: 20%;
        }
        .ten-width {
            width: 10%;
        }
    </style>
</head>
<body>
    <page size="A4">
        <div>
            <div>
                <table class="full-width">
                    <tbody>
                        <tr>
                            <td class="fifty-width"><h1>Invoice</h1></td>
                            <td class="fifty-width"><h2>BillOne Technology Sdn Bhd</h2></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="fifty-width">Invoice Number {{ invoiceNo }}</td>
                            <td class="fifty-width">14-10 & 14-12, Stellar Business Suite,</td>
                        </tr>
                        <tr>
                            <td class="fifty-width">Date of issue  {{ dateIssued }}</td>
                            <td class="fifty-width">Jalan Puteri 4/7, Bandar Puteri,</td>
                        </tr>
                        <tr>
                            <td class="fifty-width">Date due       {{ dateDue }}</td>
                            <td class="fifty-width">47100 Puchong, Selangor</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="margin-top: 25px;"></td>
                        </tr>
                        <tr>
                            <td class="fifty-width"><strong>BillOne Technology Sdn Bhd</strong></td>
                            <td class="fifty-width"><strong>Bill to</strong></td>
                        </tr>
                        <tr>
                            <td class="fifty-width">+6017 0081 9381</td>
                            <td class="fifty-width">{{ billTo }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="margin-top: 25px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br><br><br>
            <div>
                <table class="ninety-five-width">
                    <tbody>
                        <tr>
                            <th class="fifty-width" style="text-align: left;">Description</th>
                            <th class="ten" style="text-align: left;">Qty</th>
                            <th class="twenty-width" style="text-align: left;">Unit Price</th>
                            <th class="twenty-width-width" style="text-align: right;">Amount</th>
                        </tr>
                        <tr>
                            <td colspan="4"><hr></td>
                        </tr>
                        <tr class="dashed-border-bottom">
                            <td style="text-align: left;">{{ product1Name }}</td>
                            <td style="text-align: left;">1</td>
                            <td style="text-align: left;">{{ product1UnitPrice }}</td>
                            <td style="text-align: right;">{{ product1Amount }}</td>
                        </tr>
                        <tr>
                            <td colspan="4"><hr></td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left;"></td>
                            <td style="text-align: left;">Subtotal</td>
                            <td style="text-align: right;">{{ subTotal }}</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2"><hr></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left;"></td>
                            <td style="text-align: left;">Total</td>
                            <td style="text-align: right;">{{ total }}</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2"><hr></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left;"></td>
                            <td style="text-align: left;"><strong>Amount Due</strong></td>
                            <td style="text-align: right;">{{ totalAmountDue }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin-top:500px">
                <table class="ninety-five-width">
                    <tbody>
                        <tr>
                            <td><hr></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </page>
</body>
</html>
