<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <div>
        <p style="margin-bottom:2cm;">
            <img src='{{ companyLogo }}' />
        </p>
    </div>
    <div>
        <h2 style="margin-bottom:1cm;">Change of password</h2>
    </div>

    <div style="margin-top: 10px">Hello {{ name }},</div>
        <br>
    <div>This email is to confirm that your password has been successfully changed  to - <span><b>{{ password }}</b></span>.</div>
        <br/>
    <div>If you did not request a password change, please contact us immediately at {{ contactEmail }}. It is important to keep your account secure by regularly updating your password and keeping it confidential.</div>
        <br/>
    <div>If you have any issues or need further assistance, please don't hesitate to contact us.</div>
        <br><br><br>
    <div>Thank you,</div>
        <br>
    <div>{{ companyName }} Team</div>
</body>
</html>
