// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
@import 'colors';
@import 'size';

@font-family: Poppins, Arial, sans-serif;
@font-size-base: 15px;

@layout-body-background: #fff;
@btn-font-size-lg: 18px;
@btn-text-hover-bg: transparent;

@dropdown-font-size: 14px;
@dropdown-line-height: 30px;

@menu-item-color: @primary-color;
@menu-inline-submenu-bg: #fff;
