@import '../../../styles/variables';

[main-section] {
  position: relative;
  background-color: @email-marketing-bg-color;

  [main-solution-background-image] {
    background-image: url("/assets/solution-email-mkt-effect.png");
  }

  [main-solution-tagline] {
    color: @email-marketing-font-color;
  }
}
