<div main-section main-solution-section>
  <div main-solution-background-image class="hidden md:block"></div>
  <div class="container mx-auto z-5 h-full">
    <div main-solution-container>
      <div main-solution-tagline main-title>Email Marketing</div>
      <div main-solution-description main-description>Promote your brand and grow your business with designed emails.</div>
      <a [href]="getRegisterUrl()" main-button class="solution-button" nz-button nzType="primary" nzSize="large" nzShape="round">Pick a plan</a>
    </div>
  </div>
  <div section class="md:hidden">
    <div class="container mx-auto z-5 h-full">
      <div main-solution-tagline main-title>Email Marketing</div>
      <div main-solution-description main-description>Promote your brand and grow your business with designed emails.</div>
      <a [href]="getRegisterUrl()" main-button class="solution-button" nz-button nzType="primary" nzSize="large"
         nzShape="round">Pick a plan</a>
      <div vertical-solution-image>
        <img src="/assets/solution-email-mkt-pix.png" alt="Email Marketing" />
      </div>
    </div>
  </div>
</div>
<div section>
  <div class="container mx-auto">
    <div section-title>Take your business to the next level</div>
    <article>
      <p>
        <strong>myBillOne</strong> is a powerful marketing channel, a form of direct marketing as well as digital
        marketing, that uses emails to promote your business’s products and services.
      </p>
      <p>
        <strong>myBillOne</strong> services will create awareness amongst customers of the current market practices and
        offers available by integrating best practices and automate these to allow you to share your products and
        services to your customers seamlessly.
      </p>
      <p>It can also play a pivotal role in your marketing strategy with lead generation, brand awareness, building
        relationships or keeping customers engaged between purchases through different types of marketing emails.
      </p>
      <p><strong>myBillOne’s Email Marketing platform</strong> ill enhance your business needs and move your business
        ahead of the pack.</p>
    </article>
  </div>
</div>
