@import 'colors';

.anticon svg {
  vertical-align: baseline;
}

.ant-layout-sider .ant-menu {
  font-size: 17px;
}

.ant-layout-sider .ant-menu .ant-menu-item {
  margin-bottom: 10px;
}

.ant-descriptions-item-label {
  width: 25%;
}

.ant-descriptions-item-content {
  width: 25%;
}

.ant-breadcrumb a {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
}

.ant-progress-circle .ant-progress-text{
  white-space: pre-line;
  line-height: 2rem;
}


a h4.ant-typography {
  color: @primary-color;
}

[collapse-table] .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

[collapse-table] table {
  border: 0;
}

.ant-descriptions-item-label {
  vertical-align: top;
}

.ant-descriptions-view [preview] table {
  width: auto;
}

[image-avatar].ant-avatar > img {
  object-fit: contain;
}
