@import '../../../../styles/variables';

[box] {
  width: 294px;

  @media @media-sm {
    width: 600px;
  }

  @media @media-lg {
    width: 800px;
  }
}

[title] {
  font-size: 40px;
  font-weight: 900;
}

[summary-box] {
  background-color: white;
  padding: 12px 16px 16px;
  min-height: 432px;
  margin-right: 200px;
  border-color: @primary-color;
}

[summary-title] {
  font-size: 32px;
}

[summary-table] td {
  padding-bottom: 12px;
}
