<div section>
  <div class="container mx-auto">
    <article content>
      <div section-title>Privacy Policy</div>

      <p>This policy is only applicable to those that use our services. The more information being shared to us, allows
        us to improve and enhance our services for a better user experience. As you have every right to know what we do
        with the information being provided to us, we will continue to keep you updated and notified if there are
        changes being made in any of our policies. The changes will take into effect within 30 days after it has been
        released to public. Information being shared with us by you will be used only within the capacity as explained
        below:- </p>

      <div paragraph-section>What information we collect</div>
      <div paragraph-title>Personal Information</div>
      <p>Basically, information provided to us such as your name, address, email address, topic preferences, credit card
        and other information. This information is stored for record purposes, retrieve of data when you login into your
        account and also if any enquiry is submitted to our support team, these information will be used as references
        or for troubleshooting purposes. </p>
      <div paragraph-title>Visiting our website and tracking logs</div>
      <p>Each time you visit our website, we will collect your information automatically via cookies or other similar
        technology. This is done automatically for the purposes of saving your login sessions in between visits,
        remembering your display preferences and also track your use of our website. You may opt out of allowing us to
        use cookies. However, this may cause some of the services provided by us to not work properly for you.</p>
      <p>This information includes:-</p>
      <ul>
        <li>Browser type and language</li>
        <li>IP address</li>
        <li>Activities done on our website such as page views, clicked links, numbers of visits and access time</li>
        <li>URL of the site you came from before coming to us and the URL of the site you are going to after us</li>
      </ul>

      <div paragraph-title>Information for our third-parties</div>
      <p>In order for us to provide a complete and smooth experience, we have engaged a few third parties to fulfill
        that. This is also extended to any social media platforms being used. For advertising purposes in and out of our
        website, cookies may be used by our third party partners in order to provide you with advertising based on your
        browsing activities and interests. Only required information will be provided to them and within the guidelines
        permitted by law. </p>
      <p>We are against any illegal activities such as fraud, spam and misconduct and if there is any of such being
        conducted, we will fully cooperate with the law enforcement agencies for any information requested by them.
        Kindly refer to our Terms of Service and Acceptable Usage Policy. </p>

      <div paragraph-section>How do we use your information</div>
      <ul>
        <li>to create and maintain your account, and to control access to it;</li>
        <li>to provide you with real-time logs of your use of our services;</li>
        <li>to respond to any requests you may submit for support or sales information, or similar communications;</li>
        <li>to communicate with you (for example through newsletters, marketing emails, announcements or special offers)
          about our services;
        </li>
        <li>to measure interest in the website and our advertising campaigns;</li>
        <li>for billing and collection purposes, if you have subscribed to one of our paid plans;</li>
        <li>to help promote compliance with our Terms of Service or any other agreements between us;</li>
        <li>to enable third parties to provide services to us;</li>
        <li>for customers that request allocated dedicated IP addresses, for the purposes of assigning the dedicated IP
          address to that customer;
        </li>
        <li>to carry out other purposes that are disclosed to you and to which you consent;</li>
        <li>and to comply with the law.</li>
      </ul>

      <div paragraph-section>Your Rights</div>
      <p>With the recent implementation of General Data Protection Regulation (GDPR), it gives people a certain rights
        towards their personal data being collected by us. As such, we recognise and therefore comply to GDPR and the
        rights as per below :-</p>

      <div paragraph-title>Right to be forgotten</div>
      <p>Other than our service-related messages, you have the rights to opt-out any communications from us or our
        partners. The opt-outs will be done within 10 days after the request is being made. You can also request your
        personal data to be erased from our database in situations of information being not relevant anymore or you
        would like to stop using our service completely.</p>

      <div paragraph-title>Right to access</div>
      <p>You have the rights to ask whether a certain information about yourself is being processed, where is it being
        stored and for what purpose. You can also request for us to provide to you a copy of your personal data that is
        being stored by us.</p>

      <div paragraph-title>Data portability</div>
      <p>You have the rights to use the data being stored by us to be extracted and shared to other services of your
        choice.</p>

      <div paragraph-title>Breach of notification</div>
      <p>We are responsible to report any data breaches to you within 72 hours after we were made aware of the
        breach.</p>

      <div paragraph-title>Privacy by Design</div>
      <p>Our systems are to be designed to only obtain relevant information and to process only the necessary data
        needed to complete our duties.</p>

      <div paragraph-title>Data Protection Officer (DPO)</div>
      <p>DPOs are only required if the company is processing and monitoring large amount of data on a regular basis or
        specific categories of data and data relating to criminal convictions and offences of which in this case we do
        not and only process data when necessary.</p>

      <p>Majority of these rights are able to be exercised and updated once you have signed into your account. If you
        have any questions or in need of assistance, please contact us at support&#64;mybillone.com.</p>

      <div paragraph-section>When you use our service</div>
      <p>Your usage of our service is subjected to our Terms of Service. We will not store any contents of the emails
        sent and receive by you using our service permanently. It is temporarily done in order for us to maintain the
        reputation of our systems, ensuring all emails are complying to our Terms of Service, help you re-attempt to
        delivery emails that were previously unsuccessful and for providing data logs.</p>

      <div paragraph-section>Deletion of data</div>
      <p>Once you have cancelled your account, all your personal data in our servers will be permanently erased after 30
        days.</p>
    </article>
  </div>
</div>
