<div section>
  <div class="container mx-auto">
    <article content>
      <div section-title>Terms of Service</div>

      <p>By using myBillOne or signing up for an account, you&rsquo;re agreeing to the Terms of Service and Service Level
        Agreement applicable to all direct and indirect myBillOne Services. myBillOne (&ldquo;myBillOne&rdquo; or the
        &ldquo;Service&rdquo;) is an email and archiving services offered through the URL www.myBillOne.co (the &ldquo;Website&rdquo;)
        that allows you to create, send and manage email in bulk with PDF attachment (each message is called an &ldquo;Email&rdquo;
        or the &ldquo;e-Statement&rdquo;) to individual recipients. myBillOne is owned and operated by Documation
        Technology MSC Sdn Bhd, a Malaysian limited liability corporation (&ldquo;myBillOne&rdquo;, &ldquo;we&rdquo;, or
        &ldquo;us&rdquo;). myBillOne has employees, independent contractors , and representatives (&ldquo;our Team&rdquo;).
        As a customer of the Service or a representative of an entity that&rsquo;s a customer of the Service, you&rsquo;re
        a &ldquo;Member&rdquo; according to this agreement (or &ldquo;you&rdquo;).<br>
        These Terms of Service (&ldquo;Terms&rdquo; including our Privacy Policy and Acceptable Use Policy) define the
        terms and conditions under which you&rsquo;re allow to use myBillOne.</p>

      <div paragraph-section>Service Level Agreement</div>
      <p>We guarantee that the myBillOne Service (meaning any or all of the API and Outbound Delivery services) will be
        available 99.9% of the time in any given monthly billing period, excluding Maintenance. No SLA is provided for
        the free tier of any myBillOne services.</p>

      <p>You are entitled to a credit of 5% of your given monthly fee for the myBillOne Services for each 30 minutes of
        myBillOne Service unavailability (after the first 0.1%) in a given monthly period. <br>
      </p>

      <div paragraph-section>Credit Limitations</div>
      <p>You are not entitled to a credit if you are in breach of the terms governing your use of the Services until you
        have rectified the breach. You are not entitled to a credit if downtime would not have occurred but for your
        breach of any myBillOne service Agreement or this Exhibit A, including violation of the Acceptable Use Policy.
        You are not entitled to a credit for downtime or outages resulting from denial of service attacks, virus
        activity, hacking attempts, or any other circumstances that are not within our control.</p>
      <p>TO receive a credit, you must request a credit by creating a support ticket with myBillOne within thirty (30)
        days following the end of the downtime. You must show that your use of the Services was adversely affected in
        some way as a result of the downtime to be eligible for the credit.</p>
      <p>Notwithstanding anything in this Service Level Agreement to the contrary, the maximum total credit for the
        monthly billing period, including all guaranties, shall not exceed 100% of the fees for that billing period.
        Credits that would be available for this limitation will not be carried forward to future billing periods.<br>
      </p>

      <div paragraph-section>Suspension of Services</div>
      <p>We may suspend the Services without liability if: (i) we reasonably believe that the Services are being used in
        violation of the Agreement; (ii) you don&rsquo;t cooperate with our reasonable investigation of any suspected
        violation of the Agreement; (iii) there is an attack on the Services of your Services are accessed or
        manipulated by a third party without your consent; (iv) we are required by law or by regulatory or government
        body to suspend the Services, or (v) there is another event for which we reasonably believe that the suspension
        of the Services is necessary to protect our own network or our other customers.</p>

      <p>You agree that if your myBillOne Services are reinstated after a suspension for non-payment or for your breach
        of the Agreement (including the Acceptable Use Policy), you will pay a reinstatement fee of USD $ 100.<br>
      </p>

      <div paragraph-section>myBillOne Services Management</div>
      <div paragraph-title>Documentation</div>
      <p>You agree to comply with the myBillOne documentation found at https://support.myBillOne.co and agree that we may
        establish new procedures for your use of the Services as we deem necessary for the optimal performance of the
        Services. <br>
      </p>

      <div paragraph-title>Delivery &amp; Filtering</div>
      <p>We will use commercially reasonable efforts to deliver your email messages, but we do not guarantee delivery.
        Third party filtering services and other policies of recipient email services may prevent successful delivery of
        your messages. While the myBillOne Services will reattempt to deliver email according to our policies, it does
        not store outbound email messages so if email is not accepted by the recipient email service, it will be lost.
        myBillOne Service recommends that you emp[lot additional security measures to protect against spam, email
        phishing attempts and email infected with viruses. However, in our initiative to safeguard the safety of our
        service, you acknowledge that the limitations of the initiative will likely result in the capture of some
        legitimate email and the failure to capture some unwanted email, including email infected with viruses. You
        hereby release myBillOne and its employees, agents, affiliates, and third party suppliers from any liability for
        damages arising from the failure of the myBillOne Service&rsquo;s filtering services to filter unwanted email or
        from the capture of legitimate email, or from a failure of your email to reach its intended recipient. <br></p>

      <div paragraph-title>Message Size Limitation</div>
      <p>An individual email message may not exceed the pre-message size limit (including attachments) of 5MB or it may
        be permanently lost.<br>
      </p>

      <div paragraph-title>Content Privacy</div>
      <p>You acknowledge and understand that the myBillOne Services include the transmission of encrypted email in plain
        text or HTML over the public internet. We do not encrypt Customer Data which you upload to the myBillOne
        Services, and it is stored (and transmitted) in similar fashion as you provide it. You are responsible for
        encrypting any sensitive data you use in conjunction with the myBillOne Services. myBillOne has the features to
        password protect each PDF files you uploaded with unique password and after that use it as attachment in email.
        <br>
        Email sent using the myBillOne Services may be unsecured, may be intercepted by other users of the public
        internet, and may be stored and disclosed by third parties (such as recipient&rsquo;s email service provider).
        Although myBillOne Services include support for TLS, content may be transmitted even if the recipient does not
        also support TLS, resulting in an unencrypted transmission. <br>
      </p>

      <div paragraph-title>Routing Data</div>
      <p>Your email messages and other items sent or received via the email service will include information that is
        created by the systems and networks that are used to create and transmit the message including information such
        as server hostnames, IP addresses, timestamps, mail queue file identifiers, and spam filtering information (&ldquo;message
        routing data&rdquo;). You agree that we may view and use the message routing data for our general business
        purposes, including maintaining and improving security, improving our services, and developing products. In
        addition, you agree that we may disclose message routing data to third parties in aggregate statistical form,
        provided that we do not include any information that could be used to identify you.<br>
      </p>

      <div paragraph-title>Usage Data</div>
      <p>We collect and store information related to your use of the Services, such as use of the Website, API and usage
        pattern. You agree that we may use this information for our general business purposes and may disclose the
        information to third parties in aggregate statistical form, provided that we do not include any information that
        could be used to identify you.<br>
      </p>


      <div paragraph-section>Account</div>
      <div paragraph-title>Eligibility</div>

      <div>In order to use myBillOne, you must:</div>
      <ul>
        <li>be at least eighteen (18) years old and able to enter into contracts;</li>
        <li>complete the registration process;</li>
        <li>agree to the Terms; and</li>
        <li>provide true, complete, and up to date contact information.</li>
      </ul>

      <p>By using myBillOne, you represent and warrant that you meet all the requirements listed above, and that you
        won't use myBillOne in a way that violates any laws or regulations. myBillOne may refuse service, close accounts
        of any users, and change eligibility requirements at any time.<br>
      </p>


      <div paragraph-title>Terms</div>
      <p>The Term begins when you sign up for myBillOne and continues as long as you use the Service. Clicking the button
        and entering your email address means that you've officially &ldquo;signed&rdquo; the Terms. If you sign up for
        myBillOne on behalf of a company or other entity, you represent and warrant that you have the authority to accept
        these Terms on their behalf.<br>
      </p>
      <p>Closing Your Account<br>
        You or myBillOne may terminate this Agreement at any time and for any reason by giving Notice to the other party.
        We may suspend our Service to you at any time, with or without cause. If we terminate your account without
        cause, we'll refund a prorated portion of your monthly prepayment or reimburse you for unused Email Credits. We
        won't refund or reimburse you if there's cause, like a violation of these Terms or our Acceptable Use Policy.
        Once terminated, we may permanently delete your account and all the data associated with it, including your
        emails from our Website. If you don't log in to your account for 12 or more months, we may treat your account as
        &ldquo;inactive&rdquo; and permanently delete the account and all the data associated with it.<br>
      </p>
      <div paragraph-title>Changes</div>
      <p>We may change any of the Terms by posting revised Terms of Use on our Website and/or by sending an email to the
        last email address you gave us. Unless you terminate your account within ten (10) days, the new Terms will be
        effective immediately and apply to any continued or new use of myBillOne. We may change the Website, the Service,
        or any features of the Service at any time.<br>
      </p>
      <div paragraph-title>Account and Password</div>
      <p>You are responsible for keeping your account name and password confidential. You're also responsible for any
        account that you have access to, whether or not you authorized the use. You'll immediately notify us of any
        unauthorized use of your accounts. We're not responsible for any losses due to stolen or hacked passwords. We
        don't have access to your current password, and for security reasons, we may only reset your password.<br>
      </p>

      <div paragraph-title>Account Disputes</div>
      <p>You won&rsquo;t request access to or information about an account that is not yours, and you shall resolve any
        account-related disputes directly with the other party.</p>


      <div paragraph-section>Payment</div>

      <div paragraph-title>Monthly Plans</div>
      <p>Our charges for monthly plans are posted on our Website and may be changed from time to time. If any part of a
        month is included in the Term, then payment is due for the full month. Payments are due for any month on the
        same or closest date to the day you made your first monthly payment. If you go over your sending limit and reach
        another pricing level, then you&rsquo;ll have to pay at the higher level on or before the next pay date. If the
        Term ends before that payment is due, you&rsquo;ll still be required to make one payment at the higher
        level.<br>
      </p>

      <div paragraph-title>Credit Cards</div>
      <p>As long as you&rsquo;re a Member or have an outstanding balance with us, you&rsquo;ll provide us with valid
        credit card information and authorize us to deduct the monthly charges against that credit card. You&rsquo;ll
        replace the information for any credit card that expires with information for a valid one. Anyone using a credit
        card represents and warrants that they are authorized to use that credit card, and that any and all charges may
        be billed to that credit card and won&rsquo;t be rejected. If we&rsquo;re unable to process your credit card
        order, we&rsquo;ll try to contact you by email and suspend your account until your payment can be processed.<br>
      </p>

      <div paragraph-title>Refunds</div>
      <p>We&rsquo;ll give you a refund for a prepaid month if we stop providing our Services to you for a reason that&rsquo;s
        not laid out in these Terms or our Acceptable Use Policy. You won&rsquo;t be entitled to a refund from us under
        any other circumstances. We may offer a refund if a Member applies for one based on the requirements posted on
        the Website.<br><br>
        If your refund request is approved, the refund will be made automatically to the buyer’s credit/debit card,
        eWallet, or original method of payment within (4) weeks. For FPX, the refund will only be made to the designated
        bank account. All refunds processed will be via the original payment method.
      </p>

      <div paragraph-title>Charges for Add-Ons</div>
      <p>Some features are offered as add-ons to your myBillOne account. If you add on a feature that has a charge, then
        you&rsquo;ll be billed that additional amount with each billing cycle for as long as the add-on is active.<br>
      </p>

      <div paragraph-title>Billing Changes</div>
      <p>We may change our fees at any time by posting a new pricing structure to our Website and/or sending you a
        notification by email.<br>
      </p>

      <div paragraph-section>Rights</div>
      <div paragraph-title>Proprietary Rights Owned by Us</div>
      <p>You will respect our proprietary rights in the Website and the software used to provide myBillOne (proprietary
        rights include patents, trademarks, service marks, trade secrets, and copyrights).<br>
      </p>

      <div paragraph-title>Proprietary Rights Owned by You</div>
      <p>You represent and warrant that you either own or have permission to use all of the material in your Emails. You
        retain ownership of the materials that you upload to the Service. We may use or disclose your materials only as
        described in these Terms and our Privacy Policy.<br>
      </p>

      <div paragraph-title>Privacy Policy</div>
      <p>We may use and disclose your information according to our Privacy Policy. Our Privacy Policy will be treated as
        part of these Terms.<br>
      </p>

      <div paragraph-title>Right to Review Email Campaigns</div>
      <p>We may view, copy, and internally distribute content from your Emails and account to create algorithms and
        programs that help us spot problem accounts. These is used to find Members who violate these Terms or laws.</p>

      <div paragraph-section>Rules and Abuse</div>
      <div paragraph-title>General Rules</div>
      <div>You promise to follow these rules:</div>
      <ul class="p-0">
        <li>You won&rsquo;t send Spam! By &ldquo;spam,&rdquo; we mean the definition on the Spamhaus website.</li>
        <li>You won&rsquo;t use purchased, rented, or third-party lists of email addresses.</li>
        <li>You won&rsquo;t violate our Acceptable Use Policy, which is part of this Agreement.</li>
        <li>If you use our API, you&rsquo;ll comply with our API Use Policy</li>
      </ul>
      <div>If you violate any of these rules, then we may suspend or terminate your account.</div>

      <div paragraph-title>Reporting Abuse</div>
      <p>Please notify us immediately if you think anyone is violating any of these Terms. Please report it to our abuse
        team if you received spam that comes from an myBillOne user.<br>
      </p>

      <div paragraph-title>Bandwidth Abuse / Throttling</div>
      <p>You may only use our bandwidth for your myBillOne emails. We provide image and data hosting only for your email
        campaigns, so you may not host images on our servers for anything else (like a website). We may throttle your
        sending or connection through our API at our discretion.<br>
      </p>

      <div paragraph-title>Compliance with Laws</div>
      <p>You represent and warrant that your use of myBillOne will comply with all applicable laws and regulations. You&rsquo;re
        responsible for determining whether our Services are suitable for you to use in light of any regulations like
        GDPR, PDPA, or other laws. If you&rsquo;re subject to regulations (like HIPAA) and you use our Service, then we
        won&rsquo;t be liable if our Service doesn&rsquo;t meet those requirements. You may not use our Service for any
        unlawful or discriminatory activities, including acts prohibited by the Federal Trade Commission Act, Fair
        Credit Reporting Act, Equal Credit Opportunity Act, or other laws that apply to commerce.<br>
      </p>
      <p>If you&rsquo;re located in the European Economic Area (EEA) or send to anyone in the EEA, you represent and
        warrant that in creating your Email distribution list, sending Emails via myBillOne, and collecting information
        as a result of sending Emails, you:<br>
      </p>

      <ul>
        <li>Will clearly describe in writing how you plan to use any data collected, including for your use of myBillOne.
          You&rsquo;ll get express consent to transfer data to myBillOne and be processed, and you&rsquo;ll otherwise
          comply with whatever privacy policy you have posted.
        </li>
        <li>Have complied, and will comply, with all regulations, as well as data protection, electronic communication,
          and privacy laws that apply to the countries where you&rsquo;re sending any form of email through myBillOne.
        </li>
        <li>Have collected, stored, used, and transferred all data relating to any individual in compliance with all
          data protection laws and regulations. You have the necessary permission to allow myBillOne to receive and
          process data and send communications to that individual on your behalf.
        </li>
        <li>Agree to indemnify and hold us harmless from any losses, including attorney fees, that result from your
          breach of any part of these warranties.
        </li>
      </ul>

      <div paragraph-section>Liability</div>
      <div paragraph-title>Limitation of Liability</div>
      <p>To the maximum extent permitted by law, you assume full responsibility for any loss that results from your use
        of the Website and the Services, including any downloads from the Website. We and our Team won&rsquo;t be liable
        for any indirect, punitive, special, or consequential damages under any circumstances, even if they&rsquo;re
        based on negligence or we&rsquo;ve been advised of the possibility of those damages. Our total liability for all
        claims made about the Service in any month will be no more than what you paid us for the Service the month
        before.<br>
      </p>

      <div paragraph-title>No Warranties</div>
      <p>To the maximum extent permitted by law, we provide the material on the Website and the Service as is. That
        means we don&rsquo;t provide warranties of any kind, either express or implied, including but not limited to
        warranties of merchantability and fitness for a particular purpose. Since people use myBillOne for a variety of
        reasons, we can&rsquo;t guarantee that it will meet your specific needs.<br>
      </p>

      <div paragraph-title>Indemnity</div>
      <p>You agree to indemnify and hold us and our Team harmless from any losses, including attorney fees that result
        from any claims you make that aren&rsquo;t allowed under these Terms due to a &ldquo;Limitation of Liability&rdquo;
        or other provision. You also agree to indemnify and hold us harmless from any losses, including attorney fees,
        that result from third-party claims that you or someone using your password did something that, if true, would
        violate any of these Terms.<br>
      </p>

      <div paragraph-title>Attorney Fees</div>
      <p>If we file an action against you claiming you breached these Terms and we prevail, we&rsquo;re entitled to
        recover reasonable attorney fees and any damages or other relief we may be awarded.<br>
      </p>

      <div paragraph-title>Equitable Relief</div>
      <p>If you violate these Terms then we may seek injunctive relief (meaning we may request a court order to stop
        you) or other equitable relief.<br>
      </p>

      <div paragraph-title>Subpoena Fees</div>
      <p>If we have to provide information in response to a subpoena related to your account, then we may charge you for
        our costs. These fees may include attorney and employee time spent retrieving the records, preparing documents,
        and participating in a deposition.<br>
      </p>

      <div paragraph-title>Disclaimer</div>
      <p>We and our Team aren&rsquo;t responsible for the behaviour of any advertisers, linked websites, or other
        Members.</p>

      <div paragraph-section>Fine Print</div>
      <div paragraph-title>Assignments</div>
      <p>You may not assign any of your rights under this agreement to anyone else. We may assign our rights to any
        other individual or entity at our discretion.<br>
      </p>

      <div paragraph-title>Choice of Law</div>
      <p>The Malaysia&rsquo;s laws, except for conflict of laws rules, will apply to any dispute related to these Terms
        or the Service. Any dispute related to the Terms, the Privacy Policy, or the Service itself will be decided by
        the state and federal courts in Malaysia and each party will be subject to the jurisdiction of those courts.<br>
      </p>

      <div paragraph-title>Force Majeure</div>
      <p>We won&rsquo;t be held liable for any delays or failure in performance of any part of the Service, from any
        cause beyond our control. This includes, but is not limited to, acts of God, changes to law or regulations,
        embargoes, war, terrorist acts, riots, fires, earthquakes, nuclear accidents, zombie apocalypse, floods,
        strikes, power blackouts, volcanic action, unusually severe weather conditions, and acts of hackers or
        third-party internet service providers.<br>
      </p>

      <div paragraph-title>Survivability</div>
      <p>Even if this Agreement is terminated, the following sections will continue to apply: Proprietary Rights Owned
        by Us, Proprietary Rights Owned by You, Compliance with Laws, Limitation of Liability, No Warranties, Indemnity,
        Choice of Law, Severability, and Entire Agreement.<br>
      </p>

      <div paragraph-title>Severability</div>
      <p>If it turns out that a section of this Agreement isn&rsquo;t enforceable, then that section will be removed or
        edited as little as necessary, and the rest of the Terms will still be valid.<br>
      </p>

      <div paragraph-title>Amendments and Waiver</div>
      <p>Amendments or changes to these Terms won&rsquo;t be effective until we post revised Terms on the Website. If we
        don&rsquo;t immediately take action on a violation of these Terms, we&rsquo;re not giving up any rights under
        the Terms, and we may still take action at some point.<br>
      </p>

      <div paragraph-title>Further Actions</div>
      <p>You&rsquo;ll provide all documents and take any actions necessary to meet your obligations under these
        Terms.<br>
      </p>

      <div paragraph-title>Notification of Security Breach</div>
      <p>In the event of a security breach that may affect you or anyone on your Email distribution lists (each a
        &ldquo;List&rdquo;), we&rsquo;ll notify you of the breach and provide a description of what happened. If we
        determine, and notify you, that you need to forward all or part of that information to anyone on your Lists, you&rsquo;ll
        promptly do so.<br>
      </p>

      <div paragraph-title>Notices</div>
      <p>Any notice to you will be effective when we send it to the last email or physical address you gave us or posted
        on our Website. Any notice to us will be effective when delivered to us along with a copy to our legal counsel:
        Attn. Legal Department, myBillOne &#64; Documation Technologies MSC Sdn Bhd (879676-M), Suite 3A-16, Block 4807,
        Central Business District Perdana 2 (CBD2), Jalan Perdana Cyber 12, 63000 Cyberjaya, Selangor, Malaysia. or any
        addresses as we may later post on the Website.</p>

      <div paragraph-title>Entire Agreement</div>
      <p>These Terms, our Privacy Policy, Acceptable Use Policy, API Guidelines (all of which are incorporated into
        these Terms by reference), and any additional terms you&rsquo;ve agreed to by turning on specific features (&ldquo;Additional
        Terms&rdquo;) make up the entire agreement and supersede all prior agreements, representations, and
        understandings. Any Additional Terms will be considered incorporated into these Terms when you activate the
        feature.</p>

    </article>
  </div>
</div>
