<div container class="mx-auto">
  <ng-container>
    <div top>
      <grabbill-client-breadcrumb
        rootTitle="WhatsApp"
        [rootLink]="['/', 'mt-whatsapp', 'list']"
        [hasCrumb2]="true"
        [crumb2Object]="multiTemplateWhatsAppType$ | async"
        [crumb2Link]="['/', 'mt-whatsapp', 'detail', typeId]"
        [crumb2QueryParam]="{ tab: 'activities' }"
      >
      </grabbill-client-breadcrumb>

      <div class="mb-8">
        <grabbill-client-page-header title="WhatsApp Activity" [buttonTemplate]="buttonTemplate">
          <ng-template #buttonTemplate>
            <ng-container *ngIf="multiTemplateWhatsAppType$ | async as whatsAppType">
              <div
                class="flex items-center"
                *ngIf="whatsAppActivityFiles$ | async as whatsAppActivityFiles"
              >
                <a (click)="doSubmitForm(true, whatsAppType, whatsAppActivityFiles)" class="mr-4"
                >Finish later</a
                >
                <ng-container *ngIf="user">
                  <button
                    [disabled]="!user.subscription!.scheduleEmail"
                    type="button"
                    (click)="doOpenScheduleModal()"
                    nz-button
                    nzType="default"
                    class="mr-4"
                  >
                    Schedule
                  </button>
                </ng-container>
                <button
                  type="button"
                  (click)="doSubmitForm(false, whatsAppType, whatsAppActivityFiles)"
                  nz-button
                  nzType="primary"
                >
                  Send
                </button>
              </div>
            </ng-container>
          </ng-template>
        </grabbill-client-page-header>
      </div>

      <div class="pb-8">
        <nz-steps [nzCurrent]="index" (nzIndexChange)="doStepChange($event)">
          <nz-step nzTitle="Setup Template"></nz-step>
          <nz-step [nzTitle]="getIndexDataStepTitle(isSftp)"></nz-step>
          <nz-step nzTitle="Upload Attachments" *ngIf="!isSftp"></nz-step>
          <nz-step [nzTitle]="getWhatsappStepTitle(isSftp)"></nz-step>
        </nz-steps>
      </div>
    </div>

    <ng-template #elseActivity>
      <div nz-list nzBordered>
        <div nz-list-item>
          <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
        </div>
      </div>
    </ng-template>

    <div top-span>
      <ng-container *ngIf="multiTemplateWhatsAppActivity$ | async as whatsAppActivity; else elseActivity">
        <ng-container *ngIf="multiTemplateWhatsAppType$ | async as whatsAppType">
          <ng-container *ngIf="whatsAppActivityFiles$ | async as whatsAppActivityFiles">
            <form nz-form [formGroup]="form" nzLayout="horizontal">
              <ul nz-list class="bg-white" nzBordered nzSize="large">
                <li nz-list-item list-item>
                  <div class="pr-4 pt-1">
                    <i class="text-lg" nz-icon nzType="info-circle"></i>
                  </div>
                  <div class="flex-grow">
                    <h5 nz-typography class="pb-4">Info</h5>
                    <div>
                      <nz-form-item>
                        <nz-form-label [nzSpan]="5" nzRequired>Activity Name</nz-form-label>
                        <nz-form-control
                          [nzSpan]="18"
                          nzHasFeedback
                          [nzErrorTip]="getErrorMessage(form.controls['name'])"
                        >
                          <input nz-input formControlName="name" placeholder="name" />
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item>
                        <nz-form-label [nzSpan]="5">Upload via SFTP</nz-form-label>
                        <nz-form-control [nzSpan]="3">
                          <nz-switch formControlName="sftp" (ngModelChange)="toggleSftp()"></nz-switch>
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item>
                        <nz-form-label [nzSpan]="5" nzRequired>SFTP Folder</nz-form-label>
                        <nz-form-control
                          [nzSpan]="18"
                          nzHasFeedback
                          [nzErrorTip]="getErrorMessage(form.controls['sftpPath'])"
                        >
                          <nz-input-group [nzAddOnBefore]="sftpPrePath" nzAddOnAfter="/in">
                            <input nz-input formControlName="sftpPath" placeholder="Job folder name" />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </li>
                <li nz-list-item list-item>
                  <div class="pr-4 pt-1">
                    <i class="text-lg" nz-icon nzType="table"></i>
                  </div>
                  <div #step2 class="flex-grow">
                    <h5 nz-typography class="pb-4" *ngIf="!isSftp">Upload Index Data</h5>
                    <h5 nz-typography class="pb-4" *ngIf="isSftp">Index Data Settings</h5>
                    <div>
                      <nz-form-item>
                        <div>
                          <nz-collapse collapse-table>
                            <nz-collapse-panel nzHeader="Index Fields Settings" nzActive="false">
                              <nz-table
                                nzBordered
                                [nzShowPagination]="false"
                                [nzData]="getIndexFields(whatsAppType)"
                                nzSize="small"
                                nzTableLayout="fixed"
                              >
                                <thead>
                                <tr>
                                  <th nzWidth="30%">Label</th>
                                  <th nzWidth="30%">Excel Header</th>
                                  <th nzWidth="18%">Mandatory</th>
                                  <th nzWidth="16%">
                                    Type
                                    <i
                                      nz-tooltip
                                      nzTooltipTitle="Sample date format (DD/MM/YYYY)"
                                      nz-icon
                                      nzType="info-circle"
                                      nzTheme="outline"
                                    ></i>
                                  </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <td>Code</td>
                                  <td>code</td>
                                  <td><i nz-icon nzType="check"></i></td>
                                  <td>TEXT</td>
                                </tr>
                                <tr *ngFor="let data of getIndexFields(whatsAppType); let i = index">
                                  <td>{{ data.label }}</td>
                                  <td>{{ data.header }}</td>
                                  <td><i *ngIf="data.required" nz-icon nzType="check"></i></td>
                                  <td>{{ data.dataType }}</td>
                                </tr>
                                </tbody>
                              </nz-table>
                            </nz-collapse-panel>
                            <nz-collapse-panel nzHeader="Sample Excel" nzActive="false">
                              <div class="text-right py-2 pr-2">
                                <button (click)="doDownloadIndexRow(whatsAppType)" type="button" nz-button
                                        nzType="default">Download
                                </button>
                              </div>
                              <nz-table
                                nzBordered
                                [nzShowPagination]="false"
                                [nzData]="getIndexFields(whatsAppType)"
                                nzSize="small"
                                nzTableLayout="fixed"
                              >
                                <thead>
                                <tr>
                                  <th class="excel-header-cell">code</th>
                                  <th class="excel-header-cell"
                                      *ngFor="let data of getIndexFields(whatsAppType); let i = index">{{ data.header }}
                                  </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <td>{{whatsAppType.code}}</td>
                                  <td
                                    *ngFor="let data of getIndexFields(whatsAppType); let i = index">{{ getExcelSampleIndexData(data) }}
                                  </td>
                                </tr>
                                </tbody>
                              </nz-table>
                            </nz-collapse-panel>
                          </nz-collapse>
                        </div>
                      </nz-form-item>
                      <nz-form-item *ngIf="!isSftp" formArrayName="indexRows">
                        <div>
                          <div class="pb-4">
                            <nz-spin [nzSpinning]="!canUploadIndexRow">
                              <nz-upload
                                nzType="drag"
                                [nzMultiple]="false"
                                [nzBeforeUpload]="beforeUploadIndexRow(whatsAppType)"
                                nzAccept="text/csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                nzFileType="text/csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                              >
                                <p class="ant-upload-drag-icon">
                                  <i nz-icon nzType="file"></i>
                                </p>
                                <p class="ant-upload-text">Click or drag file (CSV / Excel) to this area to upload</p>
                                <p class="ant-upload-hint">Excel header columns must match index field settings.</p>
                              </nz-upload>
                            </nz-spin>
                          </div>

                          <div
                            missing-error
                            class="pb-4"
                            *ngIf="getMissingIndexRows(whatsAppActivityFiles).length > 0"
                          >
                            <nz-collapse>
                              <ng-template #missingIndexRowHeader>
                                <span class="text-red-500"
                                ><i nz-icon nzType="close-circle" nzTheme="fill"></i> Missing index rows:
                                  {{ getMissingIndexRows(whatsAppActivityFiles).length }}</span
                                >
                              </ng-template>
                              <nz-collapse-panel [nzHeader]="missingIndexRowHeader" [nzActive]="false">
                                <p class="whitespace-pre-line m-0 text-red-500">
                                  {{ getMissingIndexRows(whatsAppActivityFiles).join(", ") }}
                                </p>
                              </nz-collapse-panel>
                            </nz-collapse>
                          </div>

                          <div class="flex items-center pb-4">
                            <div class="flex-1">
                              <nz-input-group [nzPrefix]="searchIcon">
                                <input
                                  (input)="doSearchIndexRow($event)"
                                  type="text"
                                  nz-input
                                  placeholder="Find by attachment filename"
                                />
                              </nz-input-group>
                              <ng-template #searchIcon>
                                <i nz-icon nzType="search" class="mr-2"></i>
                              </ng-template>
                            </div>
                            <div class="flex-1 text-right">
                              <button (click)="openIndexRowForm()" type="button" nz-button nzType="default">
                                Add row
                              </button>
                            </div>
                          </div>
                          <nz-table
                            #indexRowTable
                            nzBordered
                            [nzShowPagination]="true"
                            [nzPageSize]="5"
                            [nzData]="getFilteredIndexRow()"
                            nzSize="small"
                            nzTableLayout="fixed"
                          >
                            <thead>
                            <tr>
                              <th nzWidth="44px">No</th>
                              <th *ngFor="let fieldLabel of getIndexFieldLabels(whatsAppType)">
                                <div class="flex items-center" *ngIf="fieldLabel === 'Attachment Password'">
                                  <div class="mr-2">{{ fieldLabel }}</div>
                                  <div>
                                    <i
                                      *ngIf="showPassword"
                                      (click)="togglePasswordVisible()"
                                      nz-icon
                                      nzType="eye"
                                    ></i>
                                    <i
                                      *ngIf="!showPassword"
                                      (click)="togglePasswordVisible()"
                                      nz-icon
                                      nzType="eye-invisible"
                                    ></i>
                                  </div>
                                </div>
                                <div *ngIf="fieldLabel !== 'Attachment Password'">{{ fieldLabel }}</div>
                              </th>
                              <th nzWidth="32px"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let control of indexRowTable.data; let i = index" [formGroupName]="i">
                              <td>{{ control.get("seqOrder")!.value }}</td>
                              <ng-container
                                *ngFor="
                                    let result of getIndexRowValues(control, whatsAppType, i);
                                    trackBy: trackByFn
                                  "
                              >
                                <td>
                                  <div *ngIf="result.hiddenValue">
                                    <span *ngIf="showPassword">{{ result.hiddenValue }}</span>
                                    <span *ngIf="!showPassword">{{ result.value }}</span>
                                  </div>
                                  <div *ngIf="!result.hiddenValue">{{ result.value }}</div>
                                </td>
                              </ng-container>
                              <td>
                                <a
                                  (click)="
                                      doDeleteIndexRow(
                                        control.get('text1')!.value,
                                        formIndexRows,
                                        control.get('seqOrder')!.value
                                      )
                                    "
                                ><i nz-icon nzType="delete"></i
                                ></a>
                              </td>
                            </tr>
                            </tbody>
                          </nz-table>
                        </div>
                      </nz-form-item>
                    </div>
                  </div>
                </li>
                <li nz-list-item list-item *ngIf="!isSftp">
                  <div class="pr-4 pt-1">
                    <i class="text-lg" nz-icon nzType="file-pdf"></i>
                  </div>
                  <div class="flex-grow" #step3>
                    <h5 nz-typography class="pb-4">Upload Attachments</h5>
                    <div *ngIf="whatsAppType.hasAttachment; else attachmentNotRequired">
                      <nz-form-item>
                        <div class="w-full">
                          <div class="pb-4">
                            <nz-spin [nzSpinning]="!canUploadAttachment">
                              <nz-upload
                                nzType="drag"
                                [nzMultiple]="true"
                                [nzBeforeUpload]="beforeUploadAttachment"
                                nzAccept="application/pdf,application/zip"
                                nzFileType="application/pdf,application/zip"
                              >
                                <p class="ant-upload-drag-icon">
                                  <i nz-icon nzType="file"></i>
                                </p>
                                <p class="ant-upload-text">Click or drag file (PDF / ZIP) to this area to upload</p>
                              </nz-upload>
                            </nz-spin>
                          </div>

                          <div
                            missing-error
                            class="pb-4"
                            *ngIf="getMissingAttachments(whatsAppActivityFiles).length > 0"
                          >
                            <nz-collapse>
                              <ng-template #missingAttachmentHeader>
                                <span class="text-red-500"
                                ><i nz-icon nzType="close-circle" nzTheme="fill"></i> Missing attachments:
                                  {{ getMissingAttachments(whatsAppActivityFiles).length }} files</span
                                >
                              </ng-template>
                              <nz-collapse-panel [nzHeader]="missingAttachmentHeader" [nzActive]="false">
                                <p class="whitespace-pre-line m-0 text-red-500">
                                  {{ getMissingAttachments(whatsAppActivityFiles).join(", ") }}
                                </p>
                              </nz-collapse-panel>
                            </nz-collapse>
                          </div>

                          <div>
                            <ul
                              attachment-table
                              nz-list
                              nzBordered
                              nzSize="small"
                              [nzDataSource]="getFilterAttachments(whatsAppActivityFiles)"
                              [nzPagination]="pagination"
                            >
                              <nz-list-header>
                                <div class="flex items-center">
                                  <div class="flex-1">
                                    <nz-input-group [nzPrefix]="searchIcon">
                                      <input
                                        type="text"
                                        nz-input
                                        (input)="doSearchAttachment($event)"
                                        placeholder="Find by attachment filename"
                                      />
                                    </nz-input-group>
                                    <ng-template #searchIcon>
                                      <i nz-icon nzType="search" class="mr-2"></i>
                                    </ng-template>
                                  </div>
                                  <div class="flex-1 text-right">
                                    <button type="button" (click)="doDeleteAllAttachments()" nz-button nzType="default">
                                      Delete All
                                    </button>
                                  </div>
                                </div>
                              </nz-list-header>

                              <li
                                nz-list-item
                                *ngFor="let item of doPageAttachments(whatsAppActivityFiles)"
                                nzNoFlex
                              >
                                <ul nz-list-item-actions>
                                  <nz-list-item-action>
                                    <a (click)="doDeleteAttachment(item)">Delete</a>
                                  </nz-list-item-action>
                                </ul>
                                {{ item.name }}
                              </li>
                            </ul>
                            <ng-template #pagination>
                              <nz-pagination
                                [nzPageIndex]="attachmentPageIndex"
                                [nzPageSize]="attachmentPageSize"
                                [nzTotal]="getFilterAttachments(whatsAppActivityFiles).length"
                                (nzPageIndexChange)="doAttachmentPageIndexChange($event)"
                              ></nz-pagination>
                            </ng-template>
                          </div>
                        </div>
                      </nz-form-item>
                    </div>
                    <ng-template #attachmentNotRequired>
                      <nz-card>
                        <nz-empty empty-search [nzNotFoundContent]="contentTpl">
                          <ng-template #contentTpl>
                            <span>No attachment required</span>
                          </ng-template>
                        </nz-empty>
                      </nz-card>
                    </ng-template>
                  </div>
                </li>

                <li nz-list-item list-item *ngIf="whatsappTemplates.length > 0">
                  <div class="pr-4 pt-1">
                    <i class="text-lg" nz-icon nzType="message"></i>
                  </div>
                  <div class="flex-grow" #step4>
                    <div class="mb-8">
                      <h5 nz-typography class="pb-4">WhatsApp Templates</h5>
                      <div>
                        <nz-form-item>
                          <nz-collapse collapse-table>
                            <nz-collapse-panel *ngFor="let currentTemplate of whatsAppType.whatsAppTemplates; let i = index" nzHeader="{{currentTemplate.whatsAppTemplateName}}" nzActive="false">
                              <div>
                                <grabbill-client-descriptions
                                  containerClass="pb-4"
                                  [items]="[
                                  {
                                    span: 4,
                                    title: 'Header',
                                    value: getWhatsappTemplateHeader(currentTemplate.whatsAppTemplateName),
                                    type: 'string'
                                  },
                                  {
                                    span: 4,
                                    title: 'Body',
                                    value: getWhatsappTemplateBody(currentTemplate.whatsAppTemplateName),
                                    type: 'string'
                                  },
                                  {
                                    span: 2,
                                    title: 'Footer',
                                    value: getWhatsappTemplateFooter(currentTemplate.whatsAppTemplateName),
                                    type: 'string'
                                  },
                                  {
                                    span: 2,
                                    title: 'Button',
                                    value: getWhatsappTemplateButton(currentTemplate.whatsAppTemplateName),
                                    type: 'string'
                                  }
                                ]"
                                >
                                </grabbill-client-descriptions>
                              </div>

                              <div>
                                <nz-table
                                  nzBordered
                                  [nzShowPagination]="false"
                                  [nzData]="currentTemplate.whatsAppTemplateParams"
                                  nzSize="small"
                                  nzTableLayout="fixed"
                                >
                                  <thead>
                                  <tr>
                                    <th nzWidth="100px">Index</th>
                                    <th>Field</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <ng-container *ngFor="let data of currentTemplate.whatsAppTemplateParams; let i = index">
                                    <tr>
                                      <td>{{ data.index }}</td>
                                      <td>{{ data.field }}</td>
                                    </tr>
                                  </ng-container>
                                  </tbody>
                                </nz-table>
                              </div>
                            </nz-collapse-panel>
                          </nz-collapse>
                        </nz-form-item>
                      </div>
                    </div>
                    <div *ngIf="!isSftp">
                      <h5 nz-typography class="pb-4">Preview WhatsApp Message</h5>
                      <div>
                        <nz-form-item>
                          <nz-table
                            #whatsappIndexRowTable
                            nzBordered
                            [nzShowPagination]="true"
                            [nzPageSize]="5"
                            [nzData]="getWhatsappFilteredIndexRow()"
                            nzSize="small"
                            nzTableLayout="fixed"
                          >
                            <thead>
                            <tr>
                              <th nzWidth="44px">No</th>
                              <th nzWidth="120px">Mobile No</th>
                              <th nzWidth="100px" class="text-center">Valid No</th>
                              <th>Body Content</th>
                              <th nzWidth="200px" class="text-center">Error</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let control of whatsappIndexRowTable.data; let i = index">
                              <td>{{ control.get("seqOrder")!.value }}</td>
                              <td>{{ control.get("text1")!.value }}</td>
                              <td class="text-center">
                                <i *ngIf="isValidWhatsAppNo(control.get('text1')?.value); else invalid" nz-icon
                                   nzType="check"></i>
                                <ng-template #invalid><i nz-icon nzType="close"></i></ng-template>
                              </td>
                              <td>{{ getWhatsappBodyContent(control) }}</td>
                              <td>{{ validateWhatsappValidContent(control) }}</td>
                            </tr>
                            </tbody>
                          </nz-table>
                        </nz-form-item>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </form>

            <nz-modal [nzVisible]="isScheduleModalVisible" nzTitle="Schedule" (nzOnCancel)="doCloseScheduleModal()">
              <div *nzModalContent>
                <div>
                  <form nz-form [formGroup]="scheduleForm">
                    <nz-form-item>
                      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Schedule Time</nz-form-label>
                      <nz-form-control [nzSm]="12" [nzXs]="24">
                        <nz-date-picker
                          [nzDisabledDate]="disabledDate"
                          nzShowTime
                          nzFormat="yyyy-MM-dd HH:mm:ss"
                          formControlName="scheduledTimestamp"
                        ></nz-date-picker>
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </div>
              </div>
              <div *nzModalFooter>
                <button
                  nz-button
                  nzType="primary"
                  (click)="doSchedule(whatsAppType, whatsAppActivityFiles)"
                >
                  Schedule
                </button>
              </div>
            </nz-modal>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzWidth]="540"
  [nzClosable]="false"
  [nzVisible]="isIndexRowFormVisible"
  nzTitle="Add New Row"
  [nzFooter]="createFooterTemplate"
  (nzOnClose)="closeIndexRowForm()"
  *ngIf="addFormControls.length > 0"
>
  <form nz-form *nzDrawerContent [formGroup]="indexRowForm" nzLayout="vertical">
    <div>
      <div>
        <ng-container *ngFor="let addFormControl of addFormControls" [ngSwitch]="addFormControl.type">
          <nz-form-item *ngSwitchCase="'TEXT'">
            <nz-form-label [nzRequired]="addFormControl.required">{{ addFormControl.label }}</nz-form-label>
            <nz-form-control nzHasFeedback [nzErrorTip]="getErrorMessage(indexRowForm.controls[addFormControl.name])">
              <input
                *ngIf="addFormControl.label !== 'Template'"
                nz-input
                [type]="addFormControl.label === 'Attachment Password' ? 'password' : 'text'"
                [formControlName]="addFormControl.name"
                placeholder=""
              />

              <nz-select [formControlName]="addFormControl.name" *ngIf="addFormControl.label === 'Template'">
                <ng-container *ngFor="let whatsAppTemplate of Object.values(selectedWhatsappTemplates)">
                  <nz-option
                    *ngIf="whatsAppTemplate" [nzValue]="whatsAppTemplate.name" [nzLabel]="whatsAppTemplate.name"
                  ></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngSwitchCase="'EMAIL'">
            <nz-form-label [nzRequired]="addFormControl.required">{{ addFormControl.label }}</nz-form-label>
            <nz-form-control nzHasFeedback [nzErrorTip]="getErrorMessage(indexRowForm.controls[addFormControl.name])">
              <input nz-input [formControlName]="addFormControl.name" placeholder="" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngSwitchCase="'NUMBER'">
            <nz-form-label [nzRequired]="addFormControl.required">{{ addFormControl.label }}</nz-form-label>
            <nz-form-control nzHasFeedback [nzErrorTip]="getErrorMessage(indexRowForm.controls[addFormControl.name])">
              <nz-input-number
                [formControlName]="addFormControl.name"
                [nzMin]="-9999999"
                [nzMax]="9999999"
                [nzStep]="1"
              ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngSwitchCase="'DATE'">
            <nz-form-label [nzRequired]="addFormControl.required">{{ addFormControl.label }}</nz-form-label>
            <nz-form-control nzHasFeedback [nzErrorTip]="getErrorMessage(indexRowForm.controls[addFormControl.name])">
              <nz-date-picker [formControlName]="addFormControl.name"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </div>
    </div>
  </form>

  <ng-template #createFooterTemplate>
    <div class="text-right">
      <button nz-button [nzLoading]="isIndexRowFormLoading" nzType="primary" (click)="doSubmitIndexRow()">
        Add row
      </button>
    </div>
  </ng-template>
</nz-drawer>

<nz-modal
  [nzVisible]="isIndexRowErrorModalVisible"
  nzTitle="Upload Errors"
  [nzWidth]="'80%'"
  (nzOnCancel)="doCloseIndexRowErrorModal()"
>
  <div *nzModalContent>
    <div>
      <div class="pb-2">Total Rows: {{ indexRows.length }}</div>
      <div class="pb-2">Total Errors: {{ indexRowErrors.length }}</div>
    </div>
    <div error-table>
      <nz-table [nzData]="indexRowErrors" [nzShowPagination]="false">
        <thead>
        <tr>
          <th>Row</th>
          <th>Errors</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of indexRowErrors">
          <td>{{ data.row }}</td>
          <td>
            <div *ngFor="let message of data.messages">{{ message }}</div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="doCloseIndexRowErrorModal()">Close</button>
  </div>
</nz-modal>


<nz-modal
  [nzVisible]="isSftpErrorModalVisible"
  nzTitle="SFTP Upload Errors"
  [nzWidth]="'80%'"
  (nzOnCancel)="doCloseSftpErrorModal()"
>
  <div *nzModalContent>
    <div>
      <div *ngIf="summary && summary.genericErrors && summary.genericErrors.length > 0">
        <nz-table [nzData]="summary.genericErrors" [nzShowPagination]="false">
          <thead>
          <tr>
            <th>Errors</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of summary.genericErrors">
            <td>{{ data }}</td>
          </tr>
          </tbody>
        </nz-table>
      </div>

      <div *ngIf="summary && summary.fileErrors && Object.keys(summary.fileErrors).length > 0">
        <nz-table [nzData]="Object.values(summary.fileErrors)" [nzShowPagination]="false">
          <thead>
          <tr>
            <th>File Errors</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of Object.values(summary.fileErrors)">
            <td>{{ data }}</td>
          </tr>
          </tbody>
        </nz-table>
      </div>

      <div *ngIf="summary && summary.indexRowErrors && Object.keys(summary.indexRowErrors).length > 0">
        <nz-table [nzData]="Object.entries(summary.indexRowErrors)" [nzShowPagination]="false">
          <thead>
          <tr>
            <th [nzWidth]="'80px'">Row</th>
            <th>Errors</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of Object.entries(summary.indexRowErrors)">
            <td class="align-top">{{ data[0] }}</td>
            <td>
              <div *ngFor="let currentRowError of data[1]">{{ currentRowError.error }}</div>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="doCloseSftpErrorModal()">Close</button>
  </div>
</nz-modal>
