.stat-block {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #bdbbb9;
  border-left: 0 none;
}

.stat-block:first-child {
  border-left: 1px solid #bdbbb9;
  border-radius: 4px 0 0 4px;
}

.stat-block:last-child {
  border-radius: 0 4px 4px 0;
}
